.ContactPage{
    width: 100%;
    height: 100%;
    margin-top: 3%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    animation: 1.4s ease-out 0s 1 ChangeOpacity;
}
@keyframes ChangeOpacity {
    0% {
      opacity: 0%;
    }
    100% {
      opacity:100%;
    }
  }
#Description{
    margin-top: 10px;
    width: 450px;
    height: 300px;
    resize: none;
}

.Submit-Contact{
    margin-top: 15px;
}
.Name-Contact{
width: 50%;
height: 50px;
margin-right: 1%;
}
.Contact-form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.Contact-Names{
    width: 100%;
    display: flex;

}
.E-mail-Contact{
    width:50%;
}