.row{
    margin:0,auto;
    padding:1px;
    margin-top: 1%;
    display: flex;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    justify-content: center;
}
#Shop{
    margin-top: 20%;
}
.Wrap-List{
    width: 70%;
    align-self: center;
    justify-self: center;
    
}
@keyframes slideInFromLeft {
    0% {
      opacity: 0%;
    }
    100% {
      opacity:100%;
    }
  }

  @media (max-width : 900px) {
    .Wrap-List{
      width: 86%;
      align-self: center;
      justify-self: center;
      
  }
    }
    