.Color-choice{
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-self: center;
    width: 100%;
    margin-bottom: 2%;

}
.Color{
    opacity: 0.3;
    width : 100px;
    height: 100px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 25%;
    border: none;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
    box-shadow: 0 1px 3px rgba(0,0,0,0.82), 0 1px 3px rgba(0,0,0,0.24);
}
.Color:active {
    outline: none;
    border: none;
}
.Color:hover{
    opacity: 1;

}
.Color:focus {     
   opacity: 1;  
   outline: none;
    border: none;
}
@media (max-width : 900px) {
   .Color-choice{
    justify-content: center;
   }
  }
