.top-scrollbar{
    position: fixed;
    top: 0%;
    height: 4rem;
    width: 100%; 
    z-index: 10;
    background-color: #1c1c1c;
    display: grid;
    grid-template-columns: 
    30% 40% 30%;
    grid-template-rows: 4rem;

}
.Wrapper-scrollbar{
    display: flex;
    width: 100vw;
    justify-content: flex-end;
}
.Menu{
    justify-self: flex-start;
    align-self: center;
    justify-items: center;
    align-items: center;
    justify-self: center;
    width: 100%;
}
.Middle{
    align-self: center;
    width: 100%;
    text-align: center;
    justify-content: center;
    justify-items: center;
}
.End{
    justify-self: flex-end;
    align-self: center;
    width: 100%;
    height: 100%;
    display: grid;
}
a{
    justify-self: center;
    align-self: center;
    color: #FFFBFC;
}
.Title-scrollbar{
  grid-column: 2;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: #FFFBFC;
}
.Cart{
    margin-top: 0%;
    margin-left: -1%;
    justify-self: flex-start;
    align-self: flex-end;
    width: 60px;
}
.Cart-wobble{
    margin-top: 0%;
    margin-left: -1%;
    justify-self: flex-start;
    align-self: flex-end;
    width: 60px;
    animation: wobble 1s 1;
}
a:link {
text-decoration: none;
}
.cart-button{
    background-color: transparent;
    border: transparent;
    width: 150px;
    outline:none;
align-self: center;
justify-self: flex-end;
cursor: pointer;
}

@keyframes wobble{
    25%{
        transform: rotate(15deg);
    }
    50%{
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(5deg);
      }
      100% {
        transform: rotate(0deg);
      }
}