label{
    margin-bottom: 5px;
    margin-top: 5px;
}
.Storage{
width: 60%;
    height: 70%;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    opacity: 100%;
    animation: 1.4s ease-out 0s 1 slideInFromLeft;
}
.Inspect-Img{
    width: 20%;
    height: auto;
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}
.InspectedElement{
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
}
.GetBack{
    width: 200px;
    justify-self: flex-start;
    align-self: flex-start;
    position: absolute;
    top: 104%;
    left: -2%;
    border: none;
    background-color: transparent;
    color: red;
    size: 64px;
}
.Inspect-Price{
    margin-top: -3%;
    font-size: 2vh;

}
.Inspect-Name{
    font-size: 4vh;
}

.GetBackCross{
    color: black;
    width: 60px;
    height: auto;
}
.Add-to-Cart-inspect{
    background-color: #f22525; 
    border: none;
    color: white;
    width: 300px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   margin-top: 100px;
    align-self: center;    
    cursor: pointer;
}
@keyframes slideInFromLeft {
    0% {
      opacity: 0%;
    }
    100% {
      opacity:100%;
    }
  }
  @media (max-width : 900px) {
    .Storage{
        display: inline;
    }
    .Inspect-Img{
        width: 50%;
        height: auto;
        animation: 1s ease-out 0s 1 slideInFromLeft;
    }
    .InspectedElement{
        margin-top: 5%;
        display: inline;
        align-items: center;
        justify-items: center;
        text-align: center;
    }
    .GetBack{
        margin-top: -10%;
        margin-right: 70%;
        margin-left: -10%;
        width: 170px;
        height: 120px;
        position: relative;
    }
    .GetBackCross{
        width: 40px;
        height: auto;
    }
    .Add-to-Cart-inspect{
margin-top: 10%;
margin-bottom: 10%;
    }
  }
