.List-element{
    position: relative;
    display: inline-block;
    width: 20em;
    height: 30em;
    margin-left: 1%;
    margin-top: 1%;
    background-color: #3D3B3C;
    transition: transform 0.5s ease-in-out;
  transform-style: preserve-3d;
}
.List-element:hover{
        transform: rotateY(180deg);
}
.Card-Back{
    width: 100%;
    height: 100%;
    background-color: #3D3B3C;
    transform: rotateY(180deg);
}
.Card-Back, .Information{
    position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  overflow: hidden;
}
.Information{
    width: 100%;
    height: 100%;
    text-align: center;
    display: inline-flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFFBFC;
}
.Product-name{
    margin-bottom: -1%;
}
.Card-Back{
    display: inline-flex;
    flex-direction: column;
   color: #FFFBFC;
   text-align:center;
   align-items: center;
   justify-content: flex-start;
}
.Image{
    object-fit: fill;
width: 80%;
height: 60%;
}
.Add-to-Cart{
	font-size:17px;
    padding:16px 31px;
    width: 60%;
    height: 20%;
    margin-top: 15%;
    margin-bottom: 10%;
	text-decoration:none;
}
.Product-price-back{
    margin-top: -5%;
}

.Product-description{
    margin-bottom: -1%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 2%;
}