.Storage-cart{
    margin-top: 4rem;
    width: 100%;
    height: 80%;
    justify-self: center;
    display: flex;
    flex-direction: row;
}
.row-cart{
    margin-left: 5%;
border-top: 1px solid #D0D0D0;
border-bottom: 1px solid #D0D0D0;
overflow-y: auto;
height: 100%;
width: 100%;
align-self: flex-start;
margin:0;
}
.Total-cart{
    text-align: center;
    margin-top: 5%;
    justify-self: last baseline;
}
.Add-To-Cart-Cart{
    background-color:#F13030;
	border-radius:28px;
	border:1px solid #F13030;
	cursor:pointer;
	color:#ffffff;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size:17px;
    padding:16px 31px;
    width: 200px;
    height: 100px;
    align-self: center;
    justify-self: center;
	text-decoration:none;
	text-shadow:0px 1px 0px #1d1d1d;
}
.Empty-cart-text{
    text-align: center;
}
.Checkout-side{
    width: 40%;
    text-align: center;
    margin-left: 3%;
}
.Checkout-cart{
    border-top: 1px solid #D0D0D0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1{
text-align: left;
}
@media (max-width : 900px) {
    .Storage-cart{
        flex-direction: column;
    }
    .Checkout-side{
        align-self: center;
        width: 90%;
        margin-top: 30%;
        text-align: center;
        margin-left: 0;
    }
    .HCart{
        font-size: 24px;
    }
    .row-cart{
        width: 100%;
    }
}