.Cart-element{
    display: flex;
    align-items: center;
    width: 98%;
    height: 250px;
    margin-top: -1px;
    border-top: 1px solid #D0D0D0;
}
.cart-img{
    padding-right: 5%;
    width: auto;
    height: 110px;
    align-self: center;
    justify-self: flex-start;
}
.cost-cart{
    justify-self: flex-end;
    align-self: center;
    margin-top: 4%;
    font-size: 150%;
    margin-right: 10px;
}
.Remove-Cart{
    justify-self: flex-end;
    margin-left: auto;
    align-self: center;
}
.name-cart{
    margin-right: auto;
    font-size: 20px;
  align-self: center;
  justify-self: center;
}
.TitleWrapper-Cart{
    width: 600px;
}
.Wrap-List-checkout{
   
    height: 100%;
    
}